Pipfile.lock
.idea
__pycache__/
.DS_Store
venv/
.env
data/images/
data/bbox_images/
data/author_pdfs/
.next
node_modules
chest_xray/data/models/*.pth
chest_xray/interfaces/backend/api/densenet_pretrained_epoch10.pth
wandb/
.pth